@import 'tailwindcss';
@plugin 'daisyui' {
	themes:
		light --default,
		dark --prefersdark;
}
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--key-u: 2.5rem;
}

@media (width >= 40rem) {
	:root {
		--key-u: 3rem;
	}
}

@media (width >= 48rem) {
	:root {
		--key-u: 3.5rem;
	}
}

@layer components {
	.key-base {
		@apply flex h-[var(--key-u)] items-center justify-center p-0;
	}
	.key-pad {
		@apply px-1 sm:px-2;
	}
}

.key-1u {
	width: var(--key-u);
}
.key-1-25u {
	width: calc(var(--key-u) * 1.25);
}
.key-1-5u {
	width: calc(var(--key-u) * 1.5);
}
.key-1-75u {
	width: calc(var(--key-u) * 1.75);
}
.key-2u {
	width: calc(var(--key-u) * 2);
}
.key-2-25u {
	width: calc(var(--key-u) * 2.25);
}
.key-2-75u {
	width: calc(var(--key-u) * 2.75);
}
.key-6-25u {
	width: calc(var(--key-u) * 6.25);
}


